.zoom {
    display:inline-block;
    position: relative;
}

.zoom:after {
    content:'';
    display:block;
    width:5vw;
    height:5vw;
    position:absolute;
    top:0;
    right:0;

}
.zoom img {
    display: block;
}